
@{
    ViewData["Title"] = "ContactUs";
}

<h1>Contact Us</h1>
<p>
    Contact KhumaloCraft Emporium
    <br/>
    <br />
    Thank you for your interest in KhumaloCraft Emporium! We value your feedback, inquiries, and suggestions. 
    <br />
    Please feel free to reach out to us using any of the following methods:
    <br />
    <br />
    Customer Support:
    Our dedicated customer support team is available to assist you with any questions or concerns you may have regarding our products, orders, or services. 
    <br />
    You can reach our customer support representatives via email at support@khumalocraft.com.
    <br />
    <br />
    Business Inquiries:
    For business-related inquiries, partnerships, or collaborations, please contact our business development team at bizdev@khumalocraft.com.
    <br />
    <br />
    General Inquiries:
    If you have any general questions or comments about KhumaloCraft Emporium, our platform, or our mission,
    <br />
    please email us at info@khumalocraft.com.
    <br />
    <br />
    Social Media:
    Stay connected with us on social media for the latest updates, promotions, and behind-the-scenes glimpses of the artisans and products featured on our platform.
    <br />
    <br />
    Facebook: facebook.com/khumalocraft
    <br />
    Instagram: instagram.com/khumalocraft
    <br />
    Twitter: twitter.com/khumalocraft
    <br />
    <br />
    We appreciate your interest in KhumaloCraft Emporium and look forward to connecting with you!

    Mailing Address:
    <br />
    KhumaloCraft Emporium
    <br />
    12 Roberts place
    <br />
    Durban, KZN, 3629
    <br />
    South Africa
    <br />
    <br />
    Phone: 076 288 9169
    <br />
    Thank you for choosing KhumaloCraft Emporium, where craftsmanship knows no bounds!
</p>

