@model HomePage1
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-2">Welcome To Khumalo's Craft</h1>
    <br/>
    <img src="~/images/2Women.png" />
    <br/>
    <p>Feel free to browse through khumalo's work on the my work page which can be done by clicking on the My Work Page tab at the top!</p>
    <img src="~/images/women.gif" />
    <p>Or Explore the contact us and about us page to understand more of what we do! </p>
</div>
