@{
    ViewData["Title"] = "MyWorkPage";
}
<br />
<h1 style="text-align: center">My Work Page</h1>
<p style="text-align: center"> Welcome to KhumaloCraft Emporium – where craftsmanship knows no bounds.</p>

<h3 style="text-align: center">Click on the images to purchase the item!<h3/>
<div class="row" style="text-align: center">
    <a href="https://localhost:7107/Home/BuyPage">
        <div class="column">
                <img src="~/images/3women.png" alt="3 Singing Women" title="3 Singing Women" width="300" />
                <p>Singing Women</p>
                <p>Price:R300</p>
            </div>
           
        <div class="column">
                <img src="~/images/0gold.png" alt="Rich Afican Queen" title="Rich Afican Queen" width="300" />
                <p>Rich Afican Queen</p>
                <p>Price:R370</p>
        </div>

        <div class="column">
                <img src="~/images/sculptures.jpg.png" alt="Prince of Niger" title="Prince of Niger" width="300" />
                <p>Prince of Niger</p>
                <p>Price:R480</p>
        </div>
    </a>
</div>
<br/>

<p style="text-align: center">
    At KhumaloCraft Emporium,
    we believe in the power of craftsmanship to transcend borders and cultures,
    enriching lives and communities around the globe.
    Founded by visionary entrepreneur James Khumalo,
    our mission is simple yet profound:
    to provide a platform where artisans from diverse backgrounds can showcase their unique talents and creations,
    while connecting with a discerning audience of customers who appreciate the beauty of handmade goods.
</p>
<br />
<p style="text-align: center">
    Our journey began with a dream –
    a dream of creating a space where artisans could thrive,
    where their skills and traditions could be celebrated and preserved for generations to come.
    Today,
    that dream is a reality,
    as KhumaloCraft Emporium stands as a testament to the creativity, passion,
    and craftsmanship of artisans worldwide.
</p>
<br />

<div class="row" style="text-align: center">
    <a href="https://localhost:7107/Home/BuyPage">
    <div class="column">
                <img src="~/images/4baddies.png" alt="The 4 servants" title="The 4 servants" width="300" />
                <p>The 4 servants</p>
                <p>Price:R480</p>
    </div>
    <div class="column">
                <img src="~/images/mommyjug.png" alt="Struggling beggar mom" title="Struggling beggar mom" width="300" />
                <p>Struggling beggar mom</p>
                <p>Price:R600</p>
    </div>
    <div class="column">
                <img src="~/images/musicwomen.png" alt="Flute women" title="Flute women" width="300" />
                <p>Flute women</p>
                <p>Price:R550</p>
    </div>
    </a>
</div>

